# GNU General Public License 3.0
#
# This file is part of the ros2_system_manager package (https://github.com/rbonghi/ros2_system_manager or http://rnext.it).
# Copyright (c) 2021 Raffaello Bonghi.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program. If not, see <https://www.gnu.org/licenses/>.

# Include the README
include *.md

# Include the license file
include LICENSE
include package.xml

# Include the data files
recursive-include scripts *

# Include services files
recursive-include services *.service

# Remove test docs and examples and tox.ini
exclude tox.it
prune test
prune docs
prune examples